/* Video Info Grid */
.video-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 12px;
  row-gap: 40px;
  z-index: 0;
}

/* Media Queries */
@media (max-width: 750px) {
  .video-info-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-info-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Thumbnail Row */
.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}

/* Video Time */
.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 4px;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  border-radius: 0.125rem;
}

/* Video Picture */
.video-picture {
  width: 100%;
}

/* Video Grid Layout */
.video-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

/* Hover Container */
.hover-con {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: row;
}

.hover-con .show-con {
  position: absolute;
  background-color: white;
  border-radius: 0.125rem;
  font-size: 0.75rem;
  bottom: -80px;
  right: -175px;
  opacity: 0;
  transition: opacity 0.15 ease-in-out;
  pointer-events: none;
  white-space: nowrap;
  display: flex;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
  padding: 0.625rem 0.75rem;
  width: 200px;
}

.hover-con:hover .show-con {
  opacity: 1;
}

/* Channel Picture */
.picture-channel {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

/* Channel Owner */
.channel-owner {
  font-weight: bold;
  font-size: 0.875rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

/* Subscribers Number */
.subscribers-number {
  color: grey;
  padding-left: 0.5rem;
}

/* Profile Picture */
.profile-picture {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

/* Video Title */
.video-title {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.25rem;
  margin-bottom: 0.75rem;
}

/* Video Author */
.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-bottom: 4px;
}
